<div class="navbar nav-main navbar-expand-lg navbar-light px-2 px-lg-5 fixed-top bg-white ">
  <a class="nav-link-main" href="<%= root_path %>"> <%= t 'nav-name' %></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end w-100" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <% if I18n.locale == I18n.default_locale %>
          <a class="nav-link-min nav-link-one" href="<%= root_path(locale: :tr) %>"> <%= t 'l-name' %><img src="https://res.cloudinary.com/dbjtqhjxi/image/upload/v1594309977/iconfinder_263_Ensign_Flag_Nation_turkey_2634440_1_ir6wn4.png" style="height:25px; padding-left: 4px;"></a>
        <% else %>
          <a class="nav-link-min nav-link-one" href="<%= root_path(locale: :en) %>"> <%= t 'l-name' %><img src="https://res.cloudinary.com/dbjtqhjxi/image/upload/v1594310249/iconfinder_139-_flag-usa-lesbian_3011467_y9xlip.png" style="height:35px; padding-left: 2px;"> </a>
        <%end%>
      <li class="nav-item">
          <a class="nav-link-min nav-link-one" href="<%= about_path %>"> <%= t 'nav-about' %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link-min nav-link-two" href="<%= contact_path %>"> <%= t 'nav-contact' %></a>
      </li>
    </ul>
      </div>
</div>
